
.nav-li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-a, a:hover {
    text-decoration: none;
    color: white;
}
svg {
    margin-right: 3px;
}
a {
    padding: 2px;
}